html, body {
    height: 100%;
}
.bg-image {
    background-image: url('img/Turkey.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, .40);
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-size: 80px;
    margin-bottom: 300px;
}

.nav.link {
    border: 2px #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    color: #ffffff;
    transition: all 1s ease-in-out;
}

.nav.link:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all 1s ease-in-out;
}